body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
.container{
  max-width: calc(1140px);
  margin: auto;
}

/* HEADER CSS STARTS */
header{
  background-color: #000;
  padding: 10px 0;
  color:#fff;
  /* position: fixed; */
  top: 0;
  width: 100%
}
nav{
  display: flex;
}
.logo{
  display: flex;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
.logo img{
  max-width: 250px;
  height: 100px;
}
ul.nav-menus{
  display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    justify-self: flex-end;
    -webkit-box-pack: end;
    list-style: none;
    font-size: 1.2rem;
    
}
ul.nav-menus li{
  align-self: center;
  padding: 0 10px;
  margin-bottom: 0;
}
ul.nav-menus li a{
  color:#fff;
  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  border-radius: 30px;
  padding: 10px 12px;
  white-space: nowrap;
}
ul.nav-menus li a.active,
ul.nav-menus li a:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
/* HEADER CSS ENDS */

/*  */
/* BANNER CSS STARTS */
.hero{
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.request--box{
  background-color: #fff;
    padding: 20px 40px;
    color: #000;
    position: absolute;
    top: 30%;
    bottom: auto;
    left: 12%;
}
.request--box h2{
  font-size: 3rem;
  font-weight: 500;
}
.request--box .btn{
  margin-bottom: 20px;
  display: flex;
}

form input{
  display: block;
  margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}
.request--box a,
button[type="submit"]{
  background-color: #000;
  padding: 14px 25px;
  color:#fff;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
}
.request--box a:hover,
button[type="submit"]:hover{
  opacity: 0.5;
}
/* BANNER CSS ENDS */
/*  */

/* LOGIN PAGE CSS STARTS */
.app--login{
  max-width: 400px;
  margin:0 auto;
}
.app--login input + div{
  color:red;
}